<header class="jumbotron masthead">
	<div class="inner">
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active">
					<img src="assets/img/Coogan1.jpg" alt="">
					<div class="carousel-caption">
						<h4>About</h4>
						<p>When other media outlets won't suffice, I post my thoughts here in blog form.</p>
					</div>
				</div>
				<div class="item">
					<img src="assets/img/Pasadena1.jpg" alt="">
					<div class="carousel-caption">
						<h4>Pasadena</h4>
						<p>I was born and raised in Pasadena, CA.</p>
					</div>
				</div>
				<div class="item">
					<img src="assets/img/Boston1.jpeg" alt="">
					<div class="carousel-caption">
						<h4>Boston</h4>
						<p>In 2007, I moved to Boston to attend college.</p>
					</div>
				</div>
				<div class="item">
					<img src="assets/img/Northeastern1.jpg" alt="">
					<div class="carousel-caption">
						<h4>Northeastern</h4>
						<p>I will graduate with an economics degree in May of this year.</p>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
		</div>
	</div>
</header>
<div class="row">
  <div class="span16"></br>
    {{ content }}</br>
	</div>	
</div>